<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Show Time 5</title>
</head>
<body>
<h1>Show Time 5</h1>

<p>A kuku, to jest szablon Thymeleaf!</p>
<p>Wartość atrybutu dt: [[${dt}]]</p>
<p>Wartość wybranego pola (sekunda): [[${dt.second}]]</p>

<p>W tym przykładzie użyliśmy najprostszego do napisania sposobu, aby odwołać się do atrybutów modelu.</p>
<p>Ten sposób oparty o <code>${}</code> w Thymeleaf jest <strong>jest niezalecany</strong>, a Thymeleaf ma inne rozwiązania, które zobaczymy w następnej wersji.

</body>
</html>
