body {
	background-color: #FFFFCC;
}

h1, h2, h3 {
	color: blue;
}

form {
	background-color: #FFFFFF;
	border: 3px solid blue;
	margin: 20px;
	padding: 10px;
}

.error {
	background-color: #FFFFFF;
	border: 6px double red;
	margin: 20px;
	padding: 10px;
	color: red;
	font-weight: bold;
}

.wynik {
	background-color: #FFFFFF;
	border: 3px solid green;
	margin: 20px;
	padding: 10px;
	color: green;
}